@model List<BG_Application.CustomDTO.SizeViewModel>
@{
    ViewBag.Title = "Size Master";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Size</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <table id="datatable-size-master" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>From Size</th>
                                            <th>To Size</th>
                                            <th>Alias Size</th>
                                            <th>Company</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var C in Model)
                                        {
                                            <tr>
                                                <td>@C.FromSize</td>
                                                <td>@C.ToSize</td>
                                                <td>@C.SizeAlias</td>
                                                <td>@C.CompanyName</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#datatable-size-master').DataTable({
                fixedHeader: true
            });

        });
    </script>
}

