@model BG_Application.CustomDTO.ApplicationUserViewModel
@{
    ViewBag.Title = "CustomeDetails";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Personal Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="py-4">
                                <p class="clearfix">
                                    <span class="float-left">
                                        Name
                                    </span>
                                    <span class="float-right text-muted">
                                        Rajesh Jikadra
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Mobile
                                    </span>
                                    <span class="float-right text-muted">
                                        8856655455
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Address
                                    </span>
                                    <span class="float-right text-muted">
                                        67, Shyamvilla Socienty, Kamrej
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Mail
                                    </span>
                                    <span class="float-right text-muted">
                                        test@example.com
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        City
                                    </span>
                                    <span class="float-right text-muted">
                                        Surat
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        State
                                    </span>
                                    <span class="float-right text-muted">
                                        Gujarat
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Country
                                    </span>
                                    <span class="float-right text-muted">
                                        India
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Business Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="py-4">
                                <p class="clearfix">
                                    <span class="float-left">
                                        Name
                                    </span>
                                    <span class="float-right text-muted">
                                        Rudra Infotech
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Mobile
                                    </span>
                                    <span class="float-right text-muted">
                                        8856655455
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Address
                                    </span>
                                    <span class="float-right text-muted">
                                        Wester Plaza, Simada
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        City
                                    </span>
                                    <span class="float-right text-muted">
                                        Surat
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        State
                                    </span>
                                    <span class="float-right text-muted">
                                        Gujarat
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Country
                                    </span>
                                    <span class="float-right text-muted">
                                        India
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Zipcode
                                    </span>
                                    <span class="float-right text-muted">
                                        395006
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Reference Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="py-4">
                                <p class="clearfix">
                                    <span class="float-left">
                                        Name
                                    </span>
                                    <span class="float-right text-muted">
                                        Mahesh Patel
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Mobile
                                    </span>
                                    <span class="float-right text-muted">
                                        8856655455
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="float-left">
                                        Business
                                    </span>
                                    <span class="float-right text-muted">
                                        Software Development
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="buttons mb-3">
                        <a href="#" class="btn btn-primary">Accept</a>
                        <a href="#" class="btn btn-warning">Reject</a>
                        <a href="#" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
