@model BG_Application.CustomDTO.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<!-- Main Content -->
<div class="main-content main-content-pb">
    <section class="section">
        <div class="section-body stocksearch">

            <div class="row sticky-top">
                <div class="col-12 mainScrollHeader">
                    <a href="#basicSearch"><div class="searchstockBtn current-active">Basic Search</div></a>
                    <a href="#searchParameters"><div class="searchstockBtn">Search By Parameters</div></a>
                    <a href="#searchInclusion"><div class="searchstockBtn">Search By Inclusion</div></a>
                    <a href="#searchPacket"><div class="searchstockBtn">Search By Packet/List/Certificate No. and Other</div></a>
                </div>
            </div>
            <div class="row containe_details" id="basicSearch">
                <div class="col-12">
                    <h6 class="title_h6">Shape</h6>
                    <div class="dflex-center select_all_active">All</div>
                    <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CU.png"><span>Round</span></div>
                    <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CUBR.png"><span>Cusion</span></div>
                    <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CUMBR.png"><span>Princess</span></div>
                    <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-EM.png"><span>Emerald</span></div>
                    <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-TR.png"><span>Asscher</span></div>
                    <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-MQ.png"><span>Heart</span></div>
                    <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-OV.png"><span>Pear</span></div>
                    <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-PR.png"><span>Oval</span></div>
                    <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-PS.png"><span>Marquise</span></div>
                    <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-RD.png"><span>L Radiant</span></div>
                    <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-SQEM.png"><span>Sq Radiant</span></div>
                    <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-SQRT.png"><span>Baguette</span></div>
                    <div class="shapeBtn"><img src="~/Areas/Admin/assets/img/stocksearch/cb-TA.png"><span>Other</span></div>
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">Carat</h6>
                    <div class="row">
                        <div class="col-md-12 col-lg-4 cartInput">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-sm-6 mt-3">
                                        <input type="text" class="form-control" placeholder="From">
                                    </div>
                                    <div class="form-group col-sm-6 mt-3">
                                        <input type="text" class="form-control" placeholder="To">
                                    </div>
                                    <div class="form-group col-md-12 mt-3 pos-rel">
                                        <input type="text" class="form-control cartMultiSize" placeholder="Multisize">
                                        <div class="plusModal" data-toggle="modal" data-target="#exampleModalCenter1">
                                            <i class="fas fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <form>
                                <div class="form-row">
                                    <div class="form-group priceCaret1 mt-3">
                                        <label>Price/Carat</label>
                                    </div>
                                    <div class="form-group priceCaret2 mt-3">
                                        <input type="text" class="form-control" placeholder="From">
                                    </div>
                                    <div class="form-group priceCaret3 mt-3">
                                        <input type="text" class="form-control" placeholder="To">
                                    </div>
                                    <div class="form-group RAPCaret1 mt-3">
                                        <label>RAP Off</label>
                                    </div>
                                    <div class="form-group RAPCaret2 mt-3">
                                        <button><i class="fas fa-plus"></i></button>
                                        <button><i class="fas fa-minus"></i></button>
                                        <input type="text" class="form-control" placeholder="From">
                                    </div>
                                    <div class="form-group RAPCaret3 mt-3">
                                        <button><i class="fas fa-plus"></i></button>
                                        <button><i class="fas fa-minus"></i></button>
                                        <input type="text" class="form-control" placeholder="To">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">COLOR / FANCY COLOR</h6>
                    <div class="row">
                        <div class="col-md-4">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6 mt-3">
                                        <select id="inputState" class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6 mt-3">
                                        <select id="inputState" class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8">
                            <div class="fancycolorBox">
                                <div class="FCBox_active">All</div>
                                <div class="FCBox_Fc">D</div>
                                <div class="FCBox_Fc">E</div>
                                <div class="FCBox_Fc">F</div>
                                <div class="FCBox_Fc">G</div>
                                <div class="FCBox_Fc">H</div>
                                <div class="FCBox_Fc">I</div>
                                <div class="FCBox_Fc">J</div>
                                <div class="FCBox_Fc">K</div>
                                <div class="FCBox_Fc">L</div>
                                <div class="FCBox_Fc">M</div>
                                <div class="FCBox_Fc">N</div>
                                <div class="FCBox_Fc">O</div>
                                <div class="FCBox_Fc">P</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">CLARITY</h6>
                    <div class="row">
                        <div class="col-md-4">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6 mt-3">
                                        <select id="inputState" class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6 mt-3">
                                        <select id="inputState" class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8">
                            <div class="fancycolorBox">
                                <div class="FCBox_active1">ALL</div>
                                <div class="FCBox_Fc1">FL</div>
                                <div class="FCBox_Fc1">IF</div>
                                <div class="FCBox_Fc1">VVS1</div>
                                <div class="FCBox_Fc1">VVS2</div>
                                <div class="FCBox_Fc1">VS1</div>
                                <div class="FCBox_Fc1">VS2</div>
                                <div class="FCBox_Fc1">SI1</div>
                                <div class="FCBox_Fc1">SI2</div>
                                <div class="FCBox_Fc1">SI3</div>
                                <div class="FCBox_Fc1">I1</div>
                                <div class="FCBox_Fc1">I2</div>
                                <div class="FCBox_Fc1">I3</div>
                                <div class="FCBox_Fc1">I4</div>
                                <div class="FCBox_Fc1">I5</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mt-4">
                    <h6 class="title_h6">CUT</h6>
                    <div class="cut-Symmetry-Polish2">
                        <div class="CSP_box_active1">All</div>
                        <div class="CSP_box1">Id</div>
                        <div class="CSP_box1">Ex</div>
                        <div class="CSP_box1">Vg</div>
                        <div class="CSP_box1">Gd</div>
                        <div class="CSP_box1">Fr</div>
                        <div class="CSP_box1">Pr</div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mt-4">
                    <h6 class="title_h6">POLISH</h6>
                    <div class="cut-Symmetry-Polish2">
                        <div class="CSP_box_active2">All</div>
                        <div class="CSP_box2">Id</div>
                        <div class="CSP_box2">Ex</div>
                        <div class="CSP_box2">Vg</div>
                        <div class="CSP_box2">Gd</div>
                        <div class="CSP_box2">Fr</div>
                        <div class="CSP_box2">Pr</div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mt-4">
                    <h6 class="title_h6">SYMMETRY</h6>
                    <div class="cut-Symmetry-Polish2">
                        <div class="CSP_box_active3">All</div>
                        <div class="CSP_box3">Id</div>
                        <div class="CSP_box3">Ex</div>
                        <div class="CSP_box3">Vg</div>
                        <div class="CSP_box3">Gd</div>
                        <div class="CSP_box3">Fr</div>
                        <div class="CSP_box3">Pr</div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">Lab</h6>
                    <div class="shapeBtn_Lab_Active dflex-center">All</div>
                    <div class="shapeBtn_Lab"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CU.png"><span>GIA</span></div>
                    <div class="shapeBtn_Lab"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CU.png"><span>HRD</span></div>
                    <div class="shapeBtn_Lab"><img src="~/Areas/Admin/assets/img/stocksearch/cb-CU.png"><span>IGI</span></div>
                </div>
                <div class="kTosymbol mt-4">
                    <h6 class="title_h6">KEY TO SYMBOL</h6>
                    <div class="row">
                        <div class="labSymbol mt-3 customeselect_option">
                            <i class="far fa-times-circle fa-Circle-icon"></i>
                            <i class="far fa-check-circle fa-Circle-icon"></i>
                            <span>Key to Symbol</span>
                            <select class="test" multiple="multiple">
                                <optgroup label="Group A">
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                    <option value="5">Option 5</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="kTosymbol mt-4">
                    <h6 class="title_h6">REPORT COMMENTS</h6>
                    <div class="row">
                        <div class="labSymbol mt-3 customeselect_option">
                            <i class="far fa-times-circle fa-Circle-icon1"></i>
                            <i class="far fa-check-circle fa-Circle-icon1"></i>
                            <span>Report Comments</span>
                            <select class="test" multiple="multiple">
                                <optgroup label="Group A">
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                    <option value="5">Option 5</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-4 color_shade">
                    <h6 class="title_h6">COLOR SHADE</h6>
                    <div class="customeselect_option mt-3">
                        <select class="test" multiple="multiple">
                            <optgroup label="Group A">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                                <option value="5">Option 5</option>
                            </optgroup>
                        </select>
                    </div>
                    <button class="noBGM">No bgm</button>
                </div>
                <div class="FluorescenceHearts mt-4">
                    <h6 class="title_h6">Fluorescence</h6>
                    <div class="cut-Symmetry-Polish2">
                        <div class="CSP_box_active4">All</div>
                        <div class="CSP_box4">N</div>
                        <div class="CSP_box4">F</div>
                        <div class="CSP_box4">M</div>
                        <div class="CSP_box4">S</div>
                        <div class="CSP_box4">VH</div>
                    </div>
                </div>
                <div class="FluorescenceHearts mt-4">
                    <h6 class="title_h6">Fluorescence Color</h6>
                    <div class="cut-Symmetry-Polish2">
                        <div class="CSP_box_active5">All</div>
                        <div class="CSP_box5">BL</div>
                        <div class="CSP_box5">YL</div>
                        <div class="CSP_box5">WT</div>
                        <div class="CSP_box5">OR</div>
                        <div class="CSP_box5">GR</div>
                        <div class="CSP_box5">RD</div>
                    </div>
                </div>
                <div class="FluorescenceHearts mt-4">
                    <h6 class="title_h6">Hearts & Arrows</h6>
                    <div class="cut-Symmetry-Polish2">
                        <div class="CSP_box_active6">All</div>
                        <div class="CSP_box6">EX</div>
                        <div class="CSP_box6">VG</div>
                        <div class="CSP_box6">Gd</div>
                        <div class="CSP_box6">Fr</div>
                    </div>
                </div>
            </div>
            <div class="row containe_details" id="searchParameters">
                <div class="col-12">
                    <h6 class="title_h6">PARAMETERS</h6>
                </div>
                <div class="col-md-10 col-xl-6">
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Diameter</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="To">
                        </div>
                        <div class="ParametersCHKBox mt-3">
                            <div class="pretty p-icon p-smooth">
                                <input type="checkbox">
                                <div class="state p-success">
                                    <i class="icon fa fa-check"></i>
                                    <label></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Ratio</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Total Depth</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Table</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Length</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Width</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Giridle</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <select id="inputState" class="form-control">
                                <option selected="">ALL</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <select id="inputState" class="form-control">
                                <option selected="">ALL</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-xl-6">
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Pavilion Angle</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Pavilion Height</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Crown Angle</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Crown Height</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Star Length</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Lower Half</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="From">
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <input type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="Parameters_name mt-3">
                            <p>Culet</p>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <select id="inputState" class="form-control">
                                <option selected="">ALL</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="Parameters_chkBox mt-3">
                            <select id="inputState" class="form-control">
                                <option selected="">ALL</option>
                                <option>...</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row containe_details" id="searchInclusion">
                <div class="col-12">
                    <h6 class="title_h6">INCLUSION</h6>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Table Inclusion</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active1">ALL</div>
                                <div class="InclusionBox1">Center Clean(T0)</div>
                                <div class="InclusionBox1">Minor(T1)</div>
                                <div class="InclusionBox1">Medium(T2)</div>
                                <div class="InclusionBox1">Major(T3)</div>
                                <div class="InclusionBox1">Heavy(T4)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Type of Inclusion</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active2">ALL</div>
                                <div class="InclusionBox2">Very Soft(A)</div>
                                <div class="InclusionBox2">Soft(B)</div>
                                <div class="InclusionBox2">Normal(C)</div>
                                <div class="InclusionBox2">Hard(D)</div>
                                <div class="InclusionBox2">Very Hard(E)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Eye Clean</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active3">ALL</div>
                                <div class="InclusionBox3">Eye Clean(E1)</div>
                                <div class="InclusionBox3">Semi Eye Clean(E2)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">EXTRA FACET - BOW TIE</h6>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Extra Facet on Crown</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active4">ALL</div>
                                <div class="InclusionBox4">None(None)</div>
                                <div class="InclusionBox4">Not Visible(NV)</div>
                                <div class="InclusionBox4">Minor(MN)</div>
                                <div class="InclusionBox4">Medium(MD)</div>
                                <div class="InclusionBox4">Major(MJ)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Extra Facet on Pavilion</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active5">ALL</div>
                                <div class="InclusionBox5">None(None)</div>
                                <div class="InclusionBox5">Not Visible(NV)</div>
                                <div class="InclusionBox5">Minor(MN)</div>
                                <div class="InclusionBox5">Medium(MD)</div>
                                <div class="InclusionBox5">Major(MJ)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Bow Tie for fancy shape(Only PS - OV - MQ)</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active6">ALL</div>
                                <div class="InclusionBox6">None(NN)</div>
                                <div class="InclusionBox6">Medium(BT1)</div>
                                <div class="InclusionBox6">Major(BT2)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">BLACK INCLUSION</h6>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Side</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active7">ALL</div>
                                <div class="InclusionBox7">None(NN)</div>
                                <div class="InclusionBox7">Not Visible(B0)</div>
                                <div class="InclusionBox7">Minor(B1)</div>
                                <div class="InclusionBox7">Medium(B2)</div>
                                <div class="InclusionBox7">Major(B3)</div>
                                <div class="InclusionBox7">Heavy(B4)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Center</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active8">ALL</div>
                                <div class="InclusionBox8">None(NN)</div>
                                <div class="InclusionBox8">Not Visible(B0)</div>
                                <div class="InclusionBox8">Minor(B1)</div>
                                <div class="InclusionBox8">Medium(B2)</div>
                                <div class="InclusionBox8">Major(B3)</div>
                                <div class="InclusionBox8">Heavy(B4)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <h6 class="title_h6">OPEN INCLUSION</h6>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Table</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active9">ALL</div>
                                <div class="InclusionBox9">None(None)</div>
                                <div class="InclusionBox9">Very Small(O1)</div>
                                <div class="InclusionBox9">Small(O2)</div>
                                <div class="InclusionBox9">Heavy(O3)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Crown</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active10">ALL</div>
                                <div class="InclusionBox10">None(None)</div>
                                <div class="InclusionBox10">Very Small(O1)</div>
                                <div class="InclusionBox10">Small(O2)</div>
                                <div class="InclusionBox10">Heavy(O3)</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="Inclusion_name mt-3">
                                <p>Pavilion</p>
                            </div>
                            <div class="Inclusion_chkBox mt-3">
                                <div class="InclusionBox_active11">ALL</div>
                                <div class="InclusionBox11">None(None)</div>
                                <div class="InclusionBox11">Very Small(O1)</div>
                                <div class="InclusionBox11">Small(O2)</div>
                                <div class="InclusionBox11">Heavy(O3)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row containe_details" id="searchPacket">
                <div class="col-12">
                    <h6 class="title_h6">SEARCH BY PACKET/LIST/CERTIFICATE NO. AND OTHER</h6>
                </div>
                <div class="col-md-12 col-lg-6 mt-3">
                    <textarea rows="4" class="form-control" placeholder="Enter Number"></textarea>
                    <div class="packet_List_Other">Packet Code</div>
                    <div class="packet_List_Other">Certificate No.</div>
                    <div class="packet_List_Other">List No.</div>
                    <div class="packet_List_Other">Memo No.</div>
                </div>
            </div>
        </div>
    </section>
</div>


@section scripts{
    <script type="text/javascript">
        (function ($) {
            $(function () {
                window.fs_test = $('.test').fSelect();
            });
        })(jQuery);
        $('.searchstockBtn').click(function () {
            if ($(this).hasClass('current-active')) {
                $(this).removeClass('current-active');
            } else {
                $('.searchstockBtn.current-active').removeClass('current-active');
                $(this).addClass('current-active');
            }
        });

        $(document).ready(function () {
            $(".fa-Circle-icon").click(function () {
                $('.fa-Circle-icon').removeClass('fa-Circle-icon-color');
                $(this).addClass("fa-Circle-icon-color");
            });
            $(".fa-Circle-icon1").click(function () {
                $('.fa-Circle-icon1').removeClass('fa-Circle-icon-color');
                $(this).addClass("fa-Circle-icon-color");
            });
            $(".packet_List_Other").click(function () {
                $(".packet_List_Other").removeClass('PL_other_Active');
                $(this).addClass('PL_other_Active');
            });

            $(".shapeBtn,.FCBox,.CSP_box,.InclusionBox,.shapeBtn_Lab,.FCBox_Fc,.FCBox_Fc1,.CSP_box1,.CSP_box2,.CSP_box3,.CSP_box4,.CSP_box5,.CSP_box6,.InclusionBox1,.InclusionBox2,.InclusionBox3,.InclusionBox4,.InclusionBox5,.InclusionBox6,.InclusionBox7,.InclusionBox8,.InclusionBox9,.InclusionBox10,.InclusionBox11").click(function () {
                $(this).toggleClass("active_blue_bg");
            });

            $(".select_all_active").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('shapeBtn');
                if ($('.select_all_active').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".shapeBtn").click(function () {
                var childElements = document.getElementsByClassName('shapeBtn').length;
                var selectedChildElements = document.getElementsByClassName('shapeBtn active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.select_all_active').addClass("active_blue_bg");
                }
                else {
                    $('.select_all_active').removeClass("active_blue_bg");
                }
            });

            $(".shapeBtn_Lab_Active").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('shapeBtn_Lab');
                if ($('.shapeBtn_Lab_Active').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".shapeBtn_Lab").click(function () {
                var childElements = document.getElementsByClassName('shapeBtn_Lab').length;
                var selectedChildElements = document.getElementsByClassName('shapeBtn_Lab active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.shapeBtn_Lab_Active').addClass("active_blue_bg");
                }
                else {
                    $('.shapeBtn_Lab_Active').removeClass("active_blue_bg");
                }
            });

            $(".FCBox_active").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('FCBox_Fc');
                if ($('.FCBox_active').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".FCBox_Fc").click(function () {
                var childElements = document.getElementsByClassName('FCBox_Fc').length;
                var selectedChildElements = document.getElementsByClassName('FCBox_Fc active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.FCBox_active').addClass("active_blue_bg");
                }
                else {
                    $('.FCBox_active').removeClass("active_blue_bg");
                }
            });

            $(".FCBox_active1").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('FCBox_Fc1');
                if ($('.FCBox_active1').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".FCBox_Fc1").click(function () {
                var childElements = document.getElementsByClassName('FCBox_Fc1').length;
                var selectedChildElements = document.getElementsByClassName('FCBox_Fc1 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.FCBox_active1').addClass("active_blue_bg");
                }
                else {
                    $('.FCBox_active1').removeClass("active_blue_bg");
                }
            });

            $(".CSP_box_active1").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('CSP_box1');
                if ($('.CSP_box_active1').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".CSP_box1").click(function () {
                var childElements = document.getElementsByClassName('CSP_box1').length;
                var selectedChildElements = document.getElementsByClassName('CSP_box1 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.CSP_box_active1').addClass("active_blue_bg");
                }
                else {
                    $('.CSP_box_active1').removeClass("active_blue_bg");
                }
            });

            $(".CSP_box_active2").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('CSP_box2');
                if ($('.CSP_box_active2').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".CSP_box2").click(function () {
                var childElements = document.getElementsByClassName('CSP_box2').length;
                var selectedChildElements = document.getElementsByClassName('CSP_box2 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.CSP_box_active2').addClass("active_blue_bg");
                }
                else {
                    $('.CSP_box_active2').removeClass("active_blue_bg");
                }
            });

            $(".CSP_box_active3").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('CSP_box3');
                if ($('.CSP_box_active3').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".CSP_box3").click(function () {
                var childElements = document.getElementsByClassName('CSP_box3').length;
                var selectedChildElements = document.getElementsByClassName('CSP_box3 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.CSP_box_active3').addClass("active_blue_bg");
                }
                else {
                    $('.CSP_box_active3').removeClass("active_blue_bg");
                }
            });

            $(".CSP_box_active4").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('CSP_box4');
                if ($('.CSP_box_active4').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".CSP_box4").click(function () {
                var childElements = document.getElementsByClassName('CSP_box4').length;
                var selectedChildElements = document.getElementsByClassName('CSP_box4 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.CSP_box_active4').addClass("active_blue_bg");
                }
                else {
                    $('.CSP_box_active4').removeClass("active_blue_bg");
                }
            });

            $(".CSP_box_active5").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('CSP_box5');
                if ($('.CSP_box_active5').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".CSP_box5").click(function () {
                var childElements = document.getElementsByClassName('CSP_box5').length;
                var selectedChildElements = document.getElementsByClassName('CSP_box5 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.CSP_box_active5').addClass("active_blue_bg");
                }
                else {
                    $('.CSP_box_active5').removeClass("active_blue_bg");
                }
            });

            $(".CSP_box_active6").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('CSP_box6');
                if ($('.CSP_box_active6').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".CSP_box6").click(function () {
                var childElements = document.getElementsByClassName('CSP_box6').length;
                var selectedChildElements = document.getElementsByClassName('CSP_box6 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.CSP_box_active6').addClass("active_blue_bg");
                }
                else {
                    $('.CSP_box_active6').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active1").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox1');
                if ($('.InclusionBox_active1').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox1").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox1').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox1 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active1').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active1').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active2").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox2');
                if ($('.InclusionBox_active2').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox2").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox2').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox2 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active2').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active2').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active3").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox3');
                if ($('.InclusionBox_active3').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox3").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox3').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox3 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active3').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active3').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active4").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox4');
                if ($('.InclusionBox_active4').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox4").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox4').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox4 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active4').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active4').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active5").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox5');
                if ($('.InclusionBox_active5').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox5").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox5').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox5 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active5').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active5').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active6").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox6');
                if ($('.InclusionBox_active6').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox6").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox6').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox6 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active6').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active6').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active7").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox7');
                if ($('.InclusionBox_active7').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox7").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox7').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox7 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active7').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active7').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active8").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox8');
                if ($('.InclusionBox_active8').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox8").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox8').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox8 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active8').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active8').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active9").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox9');
                if ($('.InclusionBox_active9').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox9").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox9').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox9 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active9').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active9').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active10").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox10');
                if ($('.InclusionBox_active10').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox10").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox10').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox10 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active10').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active10').removeClass("active_blue_bg");
                }
            });

            $(".InclusionBox_active11").click(function (e) {
                $(this).toggleClass("active_blue_bg");
                var childElements = document.getElementsByClassName('InclusionBox11');
                if ($('.InclusionBox_active11').hasClass('active_blue_bg')) {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.add('active_blue_bg');
                    }
                }
                else {
                    for (var i = 0; i < childElements.length; i++) {
                        childElements[i].classList.remove('active_blue_bg');
                    }
                }
            });

            $(".InclusionBox11").click(function () {
                var childElements = document.getElementsByClassName('InclusionBox11').length;
                var selectedChildElements = document.getElementsByClassName('InclusionBox11 active_blue_bg').length;
                if (childElements === selectedChildElements) {
                    $('.InclusionBox_active11').addClass("active_blue_bg");
                }
                else {
                    $('.InclusionBox_active11').removeClass("active_blue_bg");
                }
            });
        });
    </script>
}