
@{
    ViewBag.Title = "Stock";
}

<!-- Main Content -->
<div class="main-content main-content-pb">
    <section class="section">
        <div class="section-body result1Tbl">
            <div class="row">
                <div class="col-12">
                    <div class="selectedStone_area">
                        <h1>Selected Stone</h1>
                        <div class="selectedStone_btn">
                            <button>Compare</button>
                            <button>Add Note</button>
                            <button>Add to Basket</button>
                            <button>View Request</button>
                            <button class="selectedStoneActiveBtn">Confirm</button>
                        </div>
                        <div class="selectedStone_rating_area">
                            <div class="stone_number">
                                <h5>1</h5>
                                <p>Scores</p>
                            </div>
                            <div class="stone_number">
                                <h5>8.98</h5>
                                <p>Carat</p>
                            </div>
                            <div class="stone_number">
                                <h5>$17,670.92</h5>
                                <p>Avg Rate/ct</p>
                            </div>
                            <div class="stone_number">
                                <h5>32.03</h5>
                                <p>Avg R.Off</p>
                            </div>
                            <div class="stone_number">
                                <h5>$158,684,86</h5>
                                <p>Amount</p>
                            </div>
                            <div class="stone_number">
                                <h5>-1.00%</h5>
                                <p>Term</p>
                            </div>
                            <div class="stone_number">
                                <h5>-1.0000%</h5>
                                <p>Avg Blind</p>
                            </div>
                            <div class="stone_number">
                                <h5>-1.5868%</h5>
                                <p>WVD</p>
                            </div>
                            <div class="stone_number">
                                <h5>$17,044.45</h5>
                                <p>Final $/ct.</p>
                            </div>
                            <div class="stone_number">
                                <h5>34.44%</h5>
                                <p>Final Off</p>
                            </div>
                            <div class="stone_number stone_center_b"></div>
                            <div class="stone_number">
                                <h5>$153,059.13</h5>
                                <p>Final Payble</p>
                            </div>
                            <div class="stone_number">
                                <h5>$26,000.00</h5>
                                <p>Avg.O Rap</p>
                            </div>
                            <div class="stone_number">
                                <h5>$75.20</h5>
                                <p>Com. Rs</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="selectedStone_inner_tbl">
                        <div class="row">
                            <div class="col-12">
                                <div class="search-btn">
                                    <input type="search" class="form-control" placeholder="Search grid" />
                                    <i class="fas fa-search"></i>
                                </div>
                                <div class="selectedStone_title_right">
                                    <ul>
                                        <li><a>Bid To Buy</a></li>
                                        <li><a>Under Business Process</a></li>
                                        <li><a>New Arrival</a></li>
                                        <li class="mr-2"><a>Recently Uploaded</a></li>
                                        <li><a><i class="fas fa-download"></i></a></li>
                                        <li><a><i class="far fa-envelope"></i></a></li>
                                        <li><a><i class="fas fa-recycle"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="selectedStone_Main_Tbl">
                                    <div style="overflow-x:auto;">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="text-center">
                                                        <div class="pretty p-icon p-smooth selectgrid_checkBox">
                                                            <input type="checkbox">
                                                            <div class="state p-success">
                                                                <i class="icon fa fa-check"></i>
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <th>Stone ID <i class="fas fa-arrow-right pl-1"></i></th>
                                                    <th>Cert</th>
                                                    <th>Shape</th>
                                                    <th>Clarity</th>
                                                    <th>Color</th>
                                                    <th>Caret</th>
                                                    <th>S/ct</th>
                                                    <th>OFF%</th>
                                                    <th>Amount</th>
                                                    <th>Cut</th>
                                                    <th>Pol</th>
                                                    <th>Sym</th>
                                                    <th>Fluor</th>
                                                    <th>Measurement</th>
                                                    <th>D/R</th>
                                                    <th>TAB</th>
                                                    <th>TD</th>
                                                    <th>Shd</th>
                                                    <th>Lust</th>
                                                    <th>TW</th>
                                                    <th>5W</th>
                                                    <th>TB</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="pretty p-icon p-smooth selectgrid_checkBox">
                                                            <input type="checkbox">
                                                            <div class="state p-success">
                                                                <i class="icon fa fa-check"></i>
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fas fa-video"></i> <a href="#">123456789</a></td>
                                                    <td><a href="#">GIA</a></td>
                                                    <td>RBC</td>
                                                    <td>IF</td>
                                                    <td>J</td>
                                                    <td>9.47</td>
                                                    <td>17,465.23</td>
                                                    <td>98.33</td>
                                                    <td>50,250.02</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>NON</td>
                                                    <td>58.25 - 89 * 25</td>
                                                    <td>13.27</td>
                                                    <td>60</td>
                                                    <td>LB</td>
                                                    <td>EX</td>
                                                    <td>N</td>
                                                    <td>N</td>
                                                    <td>FG</td>
                                                    <td>OL</td>
                                                </tr>
                                                <tr class="brown-color">
                                                    <td class="text-center">
                                                        <div class="pretty p-icon p-smooth selectgrid_checkBox">
                                                            <input type="checkbox">
                                                            <div class="state p-success">
                                                                <i class="icon fa fa-check"></i>
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fas fa-video"></i> <a href="#">101112131415</a></td>
                                                    <td><a href="#">GIA</a></td>
                                                    <td>RBC</td>
                                                    <td>IF</td>
                                                    <td>E</td>
                                                    <td>5.65</td>
                                                    <td>25,165.23</td>
                                                    <td>65.26</td>
                                                    <td>65,142.23</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>NON</td>
                                                    <td>13.24 - 13.3 * 8.25</td>
                                                    <td>50.23</td>
                                                    <td>56.69</td>
                                                    <td>N</td>
                                                    <td>EX</td>
                                                    <td>N</td>
                                                    <td>N</td>
                                                    <td>FG</td>
                                                    <td>OL</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="pretty p-icon p-smooth selectgrid_checkBox">
                                                            <input type="checkbox">
                                                            <div class="state p-success">
                                                                <i class="icon fa fa-check"></i>
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fas fa-video"></i> <a href="#">987456321</a></td>
                                                    <td><a href="#">GIA</a></td>
                                                    <td>RBC</td>
                                                    <td>IF</td>
                                                    <td>D</td>
                                                    <td>8.95</td>
                                                    <td>65,33.10</td>
                                                    <td>42.02</td>
                                                    <td>67,02</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>NON</td>
                                                    <td>89.02 - 56.03 * 04</td>
                                                    <td>01.20</td>
                                                    <td>50.00</td>
                                                    <td>LB</td>
                                                    <td>EX</td>
                                                    <td>N</td>
                                                    <td>N</td>
                                                    <td>FG</td>
                                                    <td>OL</td>
                                                </tr>
                                                <tr class="red-color">
                                                    <td class="text-center">
                                                        <div class="pretty p-icon p-smooth selectgrid_checkBox">
                                                            <input type="checkbox">
                                                            <div class="state p-success">
                                                                <i class="icon fa fa-check"></i>
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fas fa-video"></i> <a href="#">123456789</a></td>
                                                    <td><a href="#">GIA</a></td>
                                                    <td>RBC</td>
                                                    <td>IF</td>
                                                    <td>J</td>
                                                    <td>9.47</td>
                                                    <td>17,465.23</td>
                                                    <td>98.33</td>
                                                    <td>50,250.02</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>NON</td>
                                                    <td>58.25 - 89 * 25</td>
                                                    <td>13.27</td>
                                                    <td>60</td>
                                                    <td>LB</td>
                                                    <td>EX</td>
                                                    <td>N</td>
                                                    <td>N</td>
                                                    <td>FG</td>
                                                    <td>OL</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="pretty p-icon p-smooth selectgrid_checkBox">
                                                            <input type="checkbox">
                                                            <div class="state p-success">
                                                                <i class="icon fa fa-check"></i>
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fas fa-video"></i> <a href="#">101112131415</a></td>
                                                    <td><a href="#">GIA</a></td>
                                                    <td>RBC</td>
                                                    <td>IF</td>
                                                    <td>E</td>
                                                    <td>5.65</td>
                                                    <td>25,165.23</td>
                                                    <td>65.26</td>
                                                    <td>65,142.23</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>NON</td>
                                                    <td>13.24 - 13.3 * 8.25</td>
                                                    <td>50.23</td>
                                                    <td>56.69</td>
                                                    <td>N</td>
                                                    <td>EX</td>
                                                    <td>N</td>
                                                    <td>N</td>
                                                    <td>FG</td>
                                                    <td>OL</td>
                                                </tr>
                                                <tr class="green-color">
                                                    <td class="text-center">
                                                        <div class="pretty p-icon p-smooth selectgrid_checkBox">
                                                            <input type="checkbox">
                                                            <div class="state p-success">
                                                                <i class="icon fa fa-check"></i>
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fas fa-video"></i> <a href="#">987456321</a></td>
                                                    <td><a href="#">GIA</a></td>
                                                    <td>RBC</td>
                                                    <td>IF</td>
                                                    <td>D</td>
                                                    <td>8.95</td>
                                                    <td>65,33.10</td>
                                                    <td>42.02</td>
                                                    <td>67,02</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>NON</td>
                                                    <td>89.02 - 56.03 * 04</td>
                                                    <td>01.20</td>
                                                    <td>50.00</td>
                                                    <td>LB</td>
                                                    <td>EX</td>
                                                    <td>N</td>
                                                    <td>N</td>
                                                    <td>FG</td>
                                                    <td>OL</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="pretty p-icon p-smooth selectgrid_checkBox">
                                                            <input type="checkbox">
                                                            <div class="state p-success">
                                                                <i class="icon fa fa-check"></i>
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fas fa-video"></i> <a href="#">123456789</a></td>
                                                    <td><a href="#">GIA</a></td>
                                                    <td>RBC</td>
                                                    <td>IF</td>
                                                    <td>J</td>
                                                    <td>9.47</td>
                                                    <td>17,465.23</td>
                                                    <td>98.33</td>
                                                    <td>50,250.02</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>NON</td>
                                                    <td>58.25 - 89 * 25</td>
                                                    <td>13.27</td>
                                                    <td>60</td>
                                                    <td>LB</td>
                                                    <td>EX</td>
                                                    <td>N</td>
                                                    <td>N</td>
                                                    <td>FG</td>
                                                    <td>OL</td>
                                                </tr>
                                                <tr class="orange-color">
                                                    <td class="text-center">
                                                        <div class="pretty p-icon p-smooth selectgrid_checkBox">
                                                            <input type="checkbox">
                                                            <div class="state p-success">
                                                                <i class="icon fa fa-check"></i>
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fas fa-video"></i> <a href="#">101112131415</a></td>
                                                    <td><a href="#">GIA</a></td>
                                                    <td>RBC</td>
                                                    <td>IF</td>
                                                    <td>E</td>
                                                    <td>5.65</td>
                                                    <td>25,165.23</td>
                                                    <td>65.26</td>
                                                    <td>65,142.23</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>NON</td>
                                                    <td>13.24 - 13.3 * 8.25</td>
                                                    <td>50.23</td>
                                                    <td>56.69</td>
                                                    <td>N</td>
                                                    <td>EX</td>
                                                    <td>N</td>
                                                    <td>N</td>
                                                    <td>FG</td>
                                                    <td>OL</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="pretty p-icon p-smooth selectgrid_checkBox">
                                                            <input type="checkbox">
                                                            <div class="state p-success">
                                                                <i class="icon fa fa-check"></i>
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fas fa-video"></i> <a href="#">987456321</a></td>
                                                    <td><a href="#">GIA</a></td>
                                                    <td>RBC</td>
                                                    <td>IF</td>
                                                    <td>D</td>
                                                    <td>8.95</td>
                                                    <td>65,33.10</td>
                                                    <td>42.02</td>
                                                    <td>67,02</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>NON</td>
                                                    <td>89.02 - 56.03 * 04</td>
                                                    <td>01.20</td>
                                                    <td>50.00</td>
                                                    <td>LB</td>
                                                    <td>EX</td>
                                                    <td>N</td>
                                                    <td>N</td>
                                                    <td>FG</td>
                                                    <td>OL</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="pretty p-icon p-smooth selectgrid_checkBox">
                                                            <input type="checkbox">
                                                            <div class="state p-success">
                                                                <i class="icon fa fa-check"></i>
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fas fa-video"></i> <a href="#">123456789</a></td>
                                                    <td><a href="#">GIA</a></td>
                                                    <td>RBC</td>
                                                    <td>IF</td>
                                                    <td>J</td>
                                                    <td>9.47</td>
                                                    <td>17,465.23</td>
                                                    <td>98.33</td>
                                                    <td>50,250.02</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>NON</td>
                                                    <td>58.25 - 89 * 25</td>
                                                    <td>13.27</td>
                                                    <td>60</td>
                                                    <td>LB</td>
                                                    <td>EX</td>
                                                    <td>N</td>
                                                    <td>N</td>
                                                    <td>FG</td>
                                                    <td>OL</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="pretty p-icon p-smooth selectgrid_checkBox">
                                                            <input type="checkbox">
                                                            <div class="state p-success">
                                                                <i class="icon fa fa-check"></i>
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fas fa-video"></i> <a href="#">101112131415</a></td>
                                                    <td><a href="#">GIA</a></td>
                                                    <td>RBC</td>
                                                    <td>IF</td>
                                                    <td>E</td>
                                                    <td>5.65</td>
                                                    <td>25,165.23</td>
                                                    <td>65.26</td>
                                                    <td>65,142.23</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>NON</td>
                                                    <td>13.24 - 13.3 * 8.25</td>
                                                    <td>50.23</td>
                                                    <td>56.69</td>
                                                    <td>N</td>
                                                    <td>EX</td>
                                                    <td>N</td>
                                                    <td>N</td>
                                                    <td>FG</td>
                                                    <td>OL</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        <div class="pretty p-icon p-smooth selectgrid_checkBox">
                                                            <input type="checkbox">
                                                            <div class="state p-success">
                                                                <i class="icon fa fa-check"></i>
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td><i class="fas fa-video"></i> <a href="#">987456321</a></td>
                                                    <td><a href="#">GIA</a></td>
                                                    <td>RBC</td>
                                                    <td>IF</td>
                                                    <td>D</td>
                                                    <td>8.95</td>
                                                    <td>65,33.10</td>
                                                    <td>42.02</td>
                                                    <td>67,02</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>EX</td>
                                                    <td>NON</td>
                                                    <td>89.02 - 56.03 * 04</td>
                                                    <td>01.20</td>
                                                    <td>50.00</td>
                                                    <td>LB</td>
                                                    <td>EX</td>
                                                    <td>N</td>
                                                    <td>N</td>
                                                    <td>FG</td>
                                                    <td>OL</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="pagination">
                                        <a href="#">&laquo;</a>
                                        <a href="#">1</a>
                                        <a href="#" class="active">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                        <a href="#">5</a>
                                        <a href="#">6</a>
                                        <a href="#">&raquo;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
