USE [BG_DB]
GO
/****** Object:  UserDefinedTableType [dbo].[ExcelTbl]    Script Date: 22-02-2020 8:15:10 PM ******/
CREATE TYPE [dbo].[ExcelTbl] AS TABLE(
	[PId] [varchar](100) NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[PId] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Address] [varchar](max) NULL,
	[UserCityId] [int] NULL,
	[Mobile] [varchar](50) NULL,
	[CompanyName] [varchar](150) NULL,
	[ContactPerson] [varchar](150) NULL,
	[CompanyAddress] [varchar](max) NULL,
	[CompanyCityId] [int] NULL,
	[CompanyZipcode] [varchar](10) NULL,
	[RefName] [varchar](150) NULL,
	[RefMobile] [varchar](50) NULL,
	[RefBusiness] [varchar](50) NULL,
	[Active] [bit] NULL CONSTRAINT [DF_AspNetUsers_Active]  DEFAULT ((0)),
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BrokerColumnMappingMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrokerColumnMappingMst](
	[BrokerColMapId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[ColumnId] [int] NULL,
 CONSTRAINT [PK_BrokerColumnMappingMst] PRIMARY KEY CLUSTERED 
(
	[BrokerColMapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BrokerColumnName]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BrokerColumnName](
	[ColumnId] [int] IDENTITY(1,1) NOT NULL,
	[ColumnName] [varchar](50) NULL,
 CONSTRAINT [PK_BrokerColumnName] PRIMARY KEY CLUSTERED 
(
	[ColumnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CertificateMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificateMst](
	[CertificateCode] [int] IDENTITY(1,1) NOT NULL,
	[CertificateName] [nvarchar](50) NULL,
	[SortID] [int] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyCode] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_CertificateMst] PRIMARY KEY CLUSTERED 
(
	[CertificateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CityMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CityMst](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[StateId] [int] NULL,
	[CityName] [varchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_CityMst] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ColorMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorMst](
	[ColorCode] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [nvarchar](50) NULL,
	[ColorAliasName] [nvarchar](100) NULL,
	[SortID] [int] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyCode] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_ColorMst] PRIMARY KEY CLUSTERED 
(
	[ColorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompanyMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyMst](
	[CompanyMstId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [int] NOT NULL,
	[Cdate] [datetime] NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[AlName] [nvarchar](50) NOT NULL,
	[Add1] [nvarchar](50) NOT NULL,
	[Add2] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[PhNo1] [nvarchar](15) NULL,
	[PhNo2] [nvarchar](15) NULL,
	[FaxNo] [nvarchar](15) NULL,
	[MobNo] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[GST] [nvarchar](50) NULL,
	[CST] [nvarchar](50) NULL,
	[LST] [nvarchar](50) NULL,
	[PAN] [nvarchar](50) NULL,
	[TAN] [nvarchar](50) NULL,
	[FDate] [datetime] NULL,
	[TDate] [datetime] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyLogo] [image] NULL,
	[CPATH] [nvarchar](max) NULL,
	[Active] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CountryMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CountryMst](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [varchar](8) NULL,
	[CountryName] [varchar](50) NULL,
	[Active] [bit] NULL CONSTRAINT [DF_CountryMst_Active]  DEFAULT ((1)),
 CONSTRAINT [PK_CountryMst] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CutMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CutMst](
	[CutCode] [int] IDENTITY(1,1) NOT NULL,
	[CutName] [nvarchar](50) NULL,
	[CutAliasName] [nvarchar](100) NULL,
	[SortID] [int] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyCode] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_CutMst] PRIMARY KEY CLUSTERED 
(
	[CutCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiamondStock]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiamondStock](
	[StockMSTID] [int] IDENTITY(1,1) NOT NULL,
	[StoneID] [nvarchar](50) NULL,
	[Cts] [numeric](18, 3) NULL,
	[Location] [nvarchar](50) NULL,
	[ReportNo] [nvarchar](50) NULL,
	[CertificateCode] [int] NULL,
	[ShapeCode] [int] NULL,
	[SizeCode] [int] NULL,
	[ColorCode] [int] NULL,
	[PurityCode] [int] NULL,
	[CutCode] [int] NULL,
	[PolishCode] [int] NULL,
	[SymmetryCode] [int] NULL,
	[FlouCode] [int] NULL,
	[Rap] [numeric](18, 2) NULL,
	[Disc] [numeric](18, 2) NULL,
	[Asking] [numeric](18, 2) NULL,
	[Amount] [numeric](18, 2) NULL,
	[SPer] [numeric](18, 2) NULL,
	[SRate] [numeric](18, 2) NULL,
	[SAmount] [numeric](18, 2) NULL,
	[Length] [numeric](18, 2) NULL,
	[Width] [numeric](18, 2) NULL,
	[Depth] [numeric](18, 2) NULL,
	[DepthPer] [numeric](18, 2) NULL,
	[TablePer] [numeric](18, 2) NULL,
	[CrownAngle] [numeric](18, 2) NULL,
	[CrownHeight] [numeric](18, 2) NULL,
	[PavAngle] [numeric](18, 2) NULL,
	[PavHeight] [numeric](18, 2) NULL,
	[KeytoSymbol] [nvarchar](50) NULL,
	[VideoLink] [nvarchar](200) NULL,
	[EyeClean] [nvarchar](50) NULL,
	[Comments] [nvarchar](max) NULL,
	[Girdle] [nvarchar](50) NULL,
	[Culet] [nvarchar](50) NULL,
	[Star] [nvarchar](50) NULL,
	[Lower] [nvarchar](50) NULL,
	[Milky] [nvarchar](50) NULL,
	[TBlack] [nvarchar](50) NULL,
	[SBlack] [nvarchar](50) NULL,
	[TWhite] [nvarchar](50) NULL,
	[SWhite] [nvarchar](50) NULL,
	[HA] [nvarchar](50) NULL,
	[ResultVerify] [bit] NULL,
	[ReportDate] [datetime] NULL,
	[Inscription] [nvarchar](100) NULL,
	[Sale] [bit] NULL,
	[Broker] [bit] NULL,
	[Hold] [bit] NULL,
	[Basket] [bit] NULL,
	[Inquiry] [bit] NULL,
 CONSTRAINT [PK_DiamondStock] PRIMARY KEY CLUSTERED 
(
	[StockMSTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FancyColorMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FancyColorMst](
	[FancyColorCode] [int] IDENTITY(1,1) NOT NULL,
	[FancyColorName] [nvarchar](50) NULL,
	[SortID] [int] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyCode] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_FancyColorMst] PRIMARY KEY CLUSTERED 
(
	[FancyColorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FancyOTMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FancyOTMst](
	[FancyOTCode] [int] IDENTITY(1,1) NOT NULL,
	[FancyOTName] [nvarchar](50) NULL,
	[SortID] [int] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyCode] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_FancyOTMst] PRIMARY KEY CLUSTERED 
(
	[FancyOTCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FlouMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlouMst](
	[FlouCode] [int] IDENTITY(1,1) NOT NULL,
	[FlouName] [nvarchar](50) NULL,
	[FlouAliasName] [nvarchar](100) NULL,
	[SortID] [int] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyCode] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_FlouMst] PRIMARY KEY CLUSTERED 
(
	[FlouCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HAMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HAMst](
	[HACode] [int] IDENTITY(1,1) NOT NULL,
	[HAName] [nvarchar](50) NULL,
	[HAAliasName] [nvarchar](100) NULL,
	[SortID] [int] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyCode] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_HAMst] PRIMARY KEY CLUSTERED 
(
	[HACode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MainMenuMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MainMenuMst](
	[MainMenuMstID] [int] IDENTITY(1,1) NOT NULL,
	[MainMenuName] [varchar](50) NULL,
	[Icon] [varchar](150) NULL,
	[SortId] [int] NULL,
	[Active] [bit] NULL,
	[URL] [varchar](200) NULL,
 CONSTRAINT [PK_MainMenuMst] PRIMARY KEY CLUSTERED 
(
	[MainMenuMstID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MenuMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MenuMst](
	[MenuMstId] [int] IDENTITY(1,1) NOT NULL,
	[MainMenuMstId] [int] NULL,
	[MenuName] [varchar](50) NULL,
	[SortId] [int] NULL,
	[Active] [bit] NULL,
	[Icon] [varchar](150) NULL,
	[URL] [varchar](200) NULL,
 CONSTRAINT [PK_MenuMst] PRIMARY KEY CLUSTERED 
(
	[MenuMstId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PartyMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartyMst](
	[PartyCode] [int] IDENTITY(1,1) NOT NULL,
	[PartyName] [nvarchar](50) NULL,
	[Add1] [nvarchar](50) NULL,
	[Add2] [nvarchar](50) NULL,
	[Add3] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[PhNo1] [nvarchar](15) NULL,
	[PhNo2] [nvarchar](15) NULL,
	[MobNo1] [nvarchar](15) NULL,
	[MobNo2] [nvarchar](15) NULL,
	[FaxNo] [nvarchar](15) NULL,
	[Email] [nvarchar](50) NULL,
	[PanNo] [nvarchar](50) NULL,
	[SortID] [int] NULL,
	[Active] [bit] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyCode] [int] NULL,
	[TypeCode] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PolishMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolishMst](
	[PolishCode] [int] IDENTITY(1,1) NOT NULL,
	[PolishName] [nvarchar](50) NULL,
	[PolishAliasName] [nvarchar](100) NULL,
	[SortID] [int] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyCode] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_PolishMst] PRIMARY KEY CLUSTERED 
(
	[PolishCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurityMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurityMst](
	[PurityCode] [int] IDENTITY(1,1) NOT NULL,
	[PurityName] [nvarchar](50) NULL,
	[PurityAliasName] [nvarchar](100) NULL,
	[SortID] [int] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyCode] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_PurityMst] PRIMARY KEY CLUSTERED 
(
	[PurityCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShapeMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShapeMst](
	[ShapeCode] [int] IDENTITY(1,1) NOT NULL,
	[ShapeName] [nvarchar](50) NULL,
	[ShapeAliasName] [nvarchar](100) NULL,
	[SortID] [int] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyCode] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_ShapeMst] PRIMARY KEY CLUSTERED 
(
	[ShapeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SizeMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SizeMst](
	[SizeMstID] [int] IDENTITY(1,1) NOT NULL,
	[FromSize] [numeric](18, 3) NULL,
	[ToSize] [numeric](18, 3) NULL,
	[SizeAlias] [nvarchar](20) NULL,
	[SortID] [int] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyCode] [int] NULL,
	[Active] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StateMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StateMst](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NULL,
	[StateName] [varchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_StateMst] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SymmetryMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SymmetryMst](
	[SymmetryCode] [int] IDENTITY(1,1) NOT NULL,
	[SymmetryName] [nvarchar](50) NULL,
	[SymmetryAliasName] [nvarchar](100) NULL,
	[SortID] [int] NULL,
	[Logid] [int] NULL,
	[Pcid] [nvarchar](50) NULL,
	[Sdate] [datetime] NULL,
	[CompanyCode] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_SymmetryMst] PRIMARY KEY CLUSTERED 
(
	[SymmetryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeMst]    Script Date: 22-02-2020 8:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMst](
	[TypeCode] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[Active] [bit] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4d72aab6-a4fc-4370-91be-c8d9bfcbcc41', N'ADMIN')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'c2ce9df7-354e-4b8d-8792-db6359f623c7', N'SITE')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'ccd3c50b-006b-4f65-b5cb-ae95843a605e', N'BROKER')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'55cf8874-f4c4-440b-a22f-2c46e41813ed', N'ccd3c50b-006b-4f65-b5cb-ae95843a605e')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'fdf3666c-7fa6-43ba-a6e6-6cca94dd73dc', N'ccd3c50b-006b-4f65-b5cb-ae95843a605e')
SET IDENTITY_INSERT [dbo].[BrokerColumnMappingMst] ON 

INSERT [dbo].[BrokerColumnMappingMst] ([BrokerColMapId], [UserId], [ColumnId]) VALUES (2, N'fdf3666c-7fa6-43ba-a6e6-6cca94dd73dc', 2)
INSERT [dbo].[BrokerColumnMappingMst] ([BrokerColMapId], [UserId], [ColumnId]) VALUES (3, N'fdf3666c-7fa6-43ba-a6e6-6cca94dd73dc', 3)
INSERT [dbo].[BrokerColumnMappingMst] ([BrokerColMapId], [UserId], [ColumnId]) VALUES (4, N'fdf3666c-7fa6-43ba-a6e6-6cca94dd73dc', 6)
SET IDENTITY_INSERT [dbo].[BrokerColumnMappingMst] OFF
SET IDENTITY_INSERT [dbo].[BrokerColumnName] ON 

INSERT [dbo].[BrokerColumnName] ([ColumnId], [ColumnName]) VALUES (1, N'StoneID')
INSERT [dbo].[BrokerColumnName] ([ColumnId], [ColumnName]) VALUES (2, N'CTS')
INSERT [dbo].[BrokerColumnName] ([ColumnId], [ColumnName]) VALUES (3, N'Location')
SET IDENTITY_INSERT [dbo].[BrokerColumnName] OFF
SET IDENTITY_INSERT [dbo].[CertificateMst] ON 

INSERT [dbo].[CertificateMst] ([CertificateCode], [CertificateName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (1, N'GIA', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[CertificateMst] ([CertificateCode], [CertificateName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (2, N'IGI', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[CertificateMst] ([CertificateCode], [CertificateName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (3, N'HRD', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[CertificateMst] OFF
SET IDENTITY_INSERT [dbo].[ColorMst] ON 

INSERT [dbo].[ColorMst] ([ColorCode], [ColorName], [ColorAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (1, N'D', N'D', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[ColorMst] ([ColorCode], [ColorName], [ColorAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (2, N'E', N'E', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[ColorMst] ([ColorCode], [ColorName], [ColorAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (3, N'F', N'F', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[ColorMst] OFF
SET IDENTITY_INSERT [dbo].[CompanyMst] ON 

SET IDENTITY_INSERT [dbo].[CompanyMst] OFF
SET IDENTITY_INSERT [dbo].[CountryMst] ON 

INSERT [dbo].[CountryMst] ([CountryId], [CountryCode], [CountryName], [Active]) VALUES (2, N'AF', N'Afghanistan', 1)
INSERT [dbo].[CountryMst] ([CountryId], [CountryCode], [CountryName], [Active]) VALUES (3, N'AL', N'Albania', 1)
INSERT [dbo].[CountryMst] ([CountryId], [CountryCode], [CountryName], [Active]) VALUES (4, N'DZ', N'Algeria', 1)
GO
SET IDENTITY_INSERT [dbo].[CountryMst] OFF
SET IDENTITY_INSERT [dbo].[CutMst] ON 

INSERT [dbo].[CutMst] ([CutCode], [CutName], [CutAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (1, N'EX', N'EXCELLENT', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[CutMst] ([CutCode], [CutName], [CutAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (2, N'VG', N'VERY GOOD', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[CutMst] ([CutCode], [CutName], [CutAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (3, N'GD', N'GOOD', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[CutMst] OFF
SET IDENTITY_INSERT [dbo].[DiamondStock] ON 

GO
SET IDENTITY_INSERT [dbo].[DiamondStock] OFF
SET IDENTITY_INSERT [dbo].[FancyColorMst] ON 

INSERT [dbo].[FancyColorMst] ([FancyColorCode], [FancyColorName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (1, N'YELLOW', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[FancyColorMst] ([FancyColorCode], [FancyColorName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (2, N'PINK', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[FancyColorMst] ([FancyColorCode], [FancyColorName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (3, N'BLUE', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[FancyColorMst] OFF
SET IDENTITY_INSERT [dbo].[FancyOTMst] ON 

INSERT [dbo].[FancyOTMst] ([FancyOTCode], [FancyOTName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (1, N'BROWNISH', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[FancyOTMst] ([FancyOTCode], [FancyOTName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (2, N'GREENISH', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[FancyOTMst] ([FancyOTCode], [FancyOTName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (3, N'YELLOWISH', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[FancyOTMst] OFF
SET IDENTITY_INSERT [dbo].[FlouMst] ON 

INSERT [dbo].[FlouMst] ([FlouCode], [FlouName], [FlouAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (1, N'STG', N'STRONG', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[FlouMst] ([FlouCode], [FlouName], [FlouAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (2, N'MED', N'MEDIUM', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[FlouMst] ([FlouCode], [FlouName], [FlouAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (3, N'FNT', N'FAINT', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[FlouMst] OFF
SET IDENTITY_INSERT [dbo].[HAMst] ON 

INSERT [dbo].[HAMst] ([HACode], [HAName], [HAAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (1, N'EX', N'EXCELLENT', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[HAMst] ([HACode], [HAName], [HAAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (2, N'VG', N'VERY GOOD', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[HAMst] ([HACode], [HAName], [HAAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (3, N'GD', N'GOOD', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[HAMst] OFF
SET IDENTITY_INSERT [dbo].[MainMenuMst] ON 

INSERT [dbo].[MainMenuMst] ([MainMenuMstID], [MainMenuName], [Icon], [SortId], [Active], [URL]) VALUES (1, N'Dashboard', N'monitor', 1, 1, N'/admin/dashboard')
INSERT [dbo].[MainMenuMst] ([MainMenuMstID], [MainMenuName], [Icon], [SortId], [Active], [URL]) VALUES (2, N'Masters', N'briefcase', 2, 1, NULL)
INSERT [dbo].[MainMenuMst] ([MainMenuMstID], [MainMenuName], [Icon], [SortId], [Active], [URL]) VALUES (3, N'Stock', N'slack', 3, 1, N'/admin/stock')
SET IDENTITY_INSERT [dbo].[MainMenuMst] OFF
SET IDENTITY_INSERT [dbo].[MenuMst] ON 

INSERT [dbo].[MenuMst] ([MenuMstId], [MainMenuMstId], [MenuName], [SortId], [Active], [Icon], [URL]) VALUES (1, 2, N'Color', 1, 1, NULL, N'/admin/master/color-master')
INSERT [dbo].[MenuMst] ([MenuMstId], [MainMenuMstId], [MenuName], [SortId], [Active], [Icon], [URL]) VALUES (2, 2, N'Certificate', 2, 1, NULL, N'/admin/master/certificate-master')
INSERT [dbo].[MenuMst] ([MenuMstId], [MainMenuMstId], [MenuName], [SortId], [Active], [Icon], [URL]) VALUES (3, 2, N'Cut', 3, 1, NULL, N'/admin/master/cut-master')
SET IDENTITY_INSERT [dbo].[MenuMst] OFF
SET IDENTITY_INSERT [dbo].[PartyMst] ON 

INSERT [dbo].[PartyMst] ([PartyCode], [PartyName], [Add1], [Add2], [Add3], [City], [PhNo1], [PhNo2], [MobNo1], [MobNo2], [FaxNo], [Email], [PanNo], [SortID], [Active], [Logid], [Pcid], [Sdate], [CompanyCode], [TypeCode]) VALUES (1, N'ASHISH', N'SURAT', NULL, NULL, N'SURAT', N'9876543210', N'7698669934', NULL, NULL, NULL, NULL, NULL, 1, 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[PartyMst] ([PartyCode], [PartyName], [Add1], [Add2], [Add3], [City], [PhNo1], [PhNo2], [MobNo1], [MobNo2], [FaxNo], [Email], [PanNo], [SortID], [Active], [Logid], [Pcid], [Sdate], [CompanyCode], [TypeCode]) VALUES (2, N'RAJU', N'SURAT', NULL, NULL, N'SURAT', N'9976543210', N'7698669933', NULL, NULL, NULL, NULL, NULL, 1, 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 2)
INSERT [dbo].[PartyMst] ([PartyCode], [PartyName], [Add1], [Add2], [Add3], [City], [PhNo1], [PhNo2], [MobNo1], [MobNo2], [FaxNo], [Email], [PanNo], [SortID], [Active], [Logid], [Pcid], [Sdate], [CompanyCode], [TypeCode]) VALUES (3, N'HIREN', N'SURAT', NULL, NULL, N'SURAT', N'9776543210', N'9979999799', NULL, NULL, NULL, NULL, NULL, 1, 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 3)
SET IDENTITY_INSERT [dbo].[PartyMst] OFF
SET IDENTITY_INSERT [dbo].[PolishMst] ON 

INSERT [dbo].[PolishMst] ([PolishCode], [PolishName], [PolishAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (1, N'EX', N'EXCELLENT', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[PolishMst] ([PolishCode], [PolishName], [PolishAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (2, N'VG', N'VERY GOOD', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[PolishMst] ([PolishCode], [PolishName], [PolishAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (3, N'GD', N'GOOD', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[PolishMst] OFF
SET IDENTITY_INSERT [dbo].[PurityMst] ON 

INSERT [dbo].[PurityMst] ([PurityCode], [PurityName], [PurityAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (1, N'FL', N'FL', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[PurityMst] ([PurityCode], [PurityName], [PurityAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (2, N'IF', N'IF', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[PurityMst] ([PurityCode], [PurityName], [PurityAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (3, N'VVS1', N'VVS1', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[PurityMst] OFF
SET IDENTITY_INSERT [dbo].[ShapeMst] ON 

INSERT [dbo].[ShapeMst] ([ShapeCode], [ShapeName], [ShapeAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (1, N'RD', N'ROUND', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[ShapeMst] ([ShapeCode], [ShapeName], [ShapeAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (2, N'EM', N'EMERALD', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[ShapeMst] ([ShapeCode], [ShapeName], [ShapeAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (3, N'PR', N'PRINCESS', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[ShapeMst] OFF
SET IDENTITY_INSERT [dbo].[SizeMst] ON 

INSERT [dbo].[SizeMst] ([SizeMstID], [FromSize], [ToSize], [SizeAlias], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (1, CAST(0.001 AS Numeric(18, 3)), CAST(0.499 AS Numeric(18, 3)), N'0.001-0.499', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[SizeMst] ([SizeMstID], [FromSize], [ToSize], [SizeAlias], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (2, CAST(0.500 AS Numeric(18, 3)), CAST(0.999 AS Numeric(18, 3)), N'0.500-0.999', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[SizeMst] ([SizeMstID], [FromSize], [ToSize], [SizeAlias], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (3, CAST(1.000 AS Numeric(18, 3)), CAST(1.499 AS Numeric(18, 3)), N'1.000-1.499', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[SizeMst] OFF
SET IDENTITY_INSERT [dbo].[SymmetryMst] ON 

INSERT [dbo].[SymmetryMst] ([SymmetryCode], [SymmetryName], [SymmetryAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (1, N'EX', N'EXCELLENT', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[SymmetryMst] ([SymmetryCode], [SymmetryName], [SymmetryAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (2, N'VG', N'VERY GOOD', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[SymmetryMst] ([SymmetryCode], [SymmetryName], [SymmetryAliasName], [SortID], [Logid], [Pcid], [Sdate], [CompanyCode], [Active]) VALUES (3, N'GD', N'GOOD', 1, 1, N'192.168.0.1', CAST(N'2020-02-13 00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[SymmetryMst] OFF
INSERT [dbo].[TypeMst] ([TypeCode], [Type], [Active]) VALUES (1, N'BROKER', 1)
INSERT [dbo].[TypeMst] ([TypeCode], [Type], [Active]) VALUES (2, N'SALES PERSON', 1)
INSERT [dbo].[TypeMst] ([TypeCode], [Type], [Active]) VALUES (3, N'PARTY', 1)
ALTER TABLE [dbo].[CityMst] ADD  CONSTRAINT [DF_CityMst_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[StateMst] ADD  CONSTRAINT [DF_StateMst_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_CompanyCityId] FOREIGN KEY([CompanyCityId])
REFERENCES [dbo].[CityMst] ([CityId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_CompanyCityId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_UserCityId] FOREIGN KEY([UserCityId])
REFERENCES [dbo].[CityMst] ([CityId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_UserCityId]
GO
ALTER TABLE [dbo].[BrokerColumnMappingMst]  WITH CHECK ADD  CONSTRAINT [FK_BrokerColumns] FOREIGN KEY([ColumnId])
REFERENCES [dbo].[BrokerColumnName] ([ColumnId])
GO
ALTER TABLE [dbo].[BrokerColumnMappingMst] CHECK CONSTRAINT [FK_BrokerColumns]
GO
ALTER TABLE [dbo].[BrokerColumnMappingMst]  WITH CHECK ADD  CONSTRAINT [FK_BrokerUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BrokerColumnMappingMst] CHECK CONSTRAINT [FK_BrokerUser]
GO
ALTER TABLE [dbo].[CityMst]  WITH CHECK ADD  CONSTRAINT [FK_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[StateMst] ([StateId])
GO
ALTER TABLE [dbo].[CityMst] CHECK CONSTRAINT [FK_State]
GO
ALTER TABLE [dbo].[MenuMst]  WITH CHECK ADD  CONSTRAINT [FK_menuid] FOREIGN KEY([MainMenuMstId])
REFERENCES [dbo].[MainMenuMst] ([MainMenuMstID])
GO
ALTER TABLE [dbo].[MenuMst] CHECK CONSTRAINT [FK_menuid]
GO
ALTER TABLE [dbo].[StateMst]  WITH CHECK ADD  CONSTRAINT [FK_CountrtId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[CountryMst] ([CountryId])
GO
ALTER TABLE [dbo].[StateMst] CHECK CONSTRAINT [FK_CountrtId]
GO
